// --- VAR
@blue: #2678ff;

// --- MIXINS
.boxSizing(@prop) {
  -webkit-box-sizing: @prop;
  -moz-box-sizing: @prop;
  box-sizing: @prop;
}

.scale(@x; @y) {
  -webkit-transform: scale(@x, @y);
  -moz-transform: scale(@x, @y);
  -ms-transform: scale(@x, @y);
  -o-transform: scale(@x, @y);
  transform: scale(@x, @y);
}

.shadow(@y; @x; @blur; @col){
  -webkit-box-shadow: @y @x @blur @col;
  -moz-box-shadow: @y @x @blur @col;
  box-shadow: @y @x @blur @col;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
html,body { height:100% }

h1, h2, h3 {
  margin:1em 0;
  color: grey;
}
h1 {
  font-size: 3em;
  color: lightslategrey;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
  text-transform: uppercase;
}
form {
  margin:1.5em 0;
}
input, select, textarea {
  display: block;
  margin:0 0 0.5em 0;
  padding:0.5em;
  .boxSizing(border-box);
}
li {
  list-style-type: none;
}
#root {
  margin:2em 5%;
}

.smartFrame {
  position:absolute;
  width:100%;
  top:0;
  left:0;
  background: rgba(0,0,0,0.25);
  h2 {
    position:absolute;
    top:800px;
    left:50%;
  }
}

.grid{
  width:100%;
  height:30em;
  margin: 1.5em 0;
  background:rgba(0,0,0,0.075);
  overflow:hidden;
  th { font-size:1.25em }
  th, td {
    width:20%;
    padding:2.5%;
    line-height:2em;
  }
}

.dropdown,
.dropdown-separate {
  font-size: 1.2em;
  .boxSizing(border-box);
  li{
    width:100%;
    height:2em;
    line-height:2em;
    padding:0 5%;
    background: white;
    border: 1px solid @blue;
    .boxSizing(border-box);
  }
}

.dropdown {
  position:relative;
  height: 2em;
  li {border: 1px solid rgba(0,0,0,0.25)}
}
.dropdown.open {
  li {
    border: 1px solid #60a8ff;
    .shadow(0;0;0.25em;@blue);
  }
}

.dropdown-separate {
  position:absolute;
  margin:2em 0 0 0;
  overflow:hidden;
  li {
    position:absolute;
    left:0;
  }
}
.dropdown-separate.open {
  overflow:visible;
  z-index:999;
  li:hover {
    background: @blue;
    color: white;
  }
}

.dropdown:after {
  content: "▼";
  position: absolute;
  top: 0;
  right: 0.25em;
  line-height:2em;
  .scale(0.5; 0.5)
}
.dropdown.open:after { content: "▲" }

.new {
  margin-left: 2em;
  color: green;
  font-weight: bold;
}
.none {
  display: none!important;
}